body {
  text-align: center;
  font-family: system-ui;
}
img {
  width: 300px;
  height: auto;
}

.randomMichis {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
article {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

button {
  margin: 10px auto;
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  opacity: 0.75;
}

a{
  text-decoration: none;
  color: #222;
  font-weight: 700;
}